################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/MOD05_DEMO/fetchWeb/bin/roslyn
/MOD08_DEMO/.vs
